<div class="form-group">
  <label class="col-sm-4 social-label"><%= t 'devise.sign_in_with' %>:</label>
  <div class="col-sm-6">
    <a href="<%= localized_omniauth_path('facebook') %>"><img src="<%= image_url('icon_facebook.png') %>" height="48" width="48" alt="Facebook"></a>
    <a href="<%= localized_omniauth_path('google_oauth2') %>"><img src="<%= image_url('icon_google.png') %>" height="48" width="48" alt="Google"></a>
  </div>
</div>
